<!doctype html>
<html lang="en xmlns:th=http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <style>
        .error-messager {
            font-size: 13px;
            color: red;
        }

    </style>
</head>
<nav class="nav">
    <a class="nav-link active" aria-current="page" href="/account">List</a>
    <a class="nav-link" href="/create">Create</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<body>
<div class="container">
    <h3>Register form</h3>
    <br>
    <div>
        <form class="form-control " action="/create" method="post" th:object="${user}">
            <div class="form-control border-0">
                <label>First Name</label>
                <input class="form-control" type="text" placeholder="Enter your first name" name="firstName"
                       th:field="*{firstName}" >
                <p class="error-messager" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
            </div>
            <div class="form-control border-0">
                <label>Last name</label>
                <input  th:value="${lastName}!=null?'lastName':'Noname'" >
                <input class="form-control" type="text" placeholder="Enter your last name" name="lastName"
                       th:field="*{lastName}" th:value="${user}?'lastName':'Noname'">
                <p class="error-messager" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
            </div>
            <div class="form-control border-0">
                <label>Phone number</label>
                <input class="form-control" type="text" placeholder="Enter your phone number"
                       aria-label="phone-number" name="phoneNumber" th:field="*{phoneNumber}">
                <p class="error-messager" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
            </div>
            <div class="form-control border-0">
                <label>Day of birth</label>
                <input class="form-control" type="date" aria-label="dob" name="dob" title="Day of birth"
                       th:field="*{dob}">
                <p class="error-messager" th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></p>
            </div>
            <div class="form-control border-0">
                <label>Email</label>
                <input class="form-control" type="text" aria-label="userEmail" name="userEmail"
                       th:field="*{userEmail}">
                <p class="error-messager" th:if="${#fields.hasErrors('userEmail')}" th:errors="*{userEmail}"></p>
            </div>
            <div class="form-control border-0">
                <button class="btn btn-outline-success" type="reset">Reset form</button>
                <button class="btn btn-outline-success" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
</html>