<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<nav class="nav">
    <a class="nav-link active" aria-current="page" href="/QA">List</a>
    <a class="nav-link active" aria-current="page" href="/QACreate">Create</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<body>
<form class="form-control " action="/QACreate" method="POST" th:object="${qa}">
    <div class="form-control border-0">
        <label>Tiêu đề</label>
        <input class="form-control" type="text" placeholder="Enter your first name" name="tieuDe"
               th:field="*{tieuDe}">
        <p class="error-messager" th:if="${#fields.hasErrors('tieuDe')}" th:errors="*{tieuDe}"></p>
    </div>
    <div class="form-control border-0">
        <label>Nội dung</label>
        <input class="form-control" type="text" placeholder="Enter your last name" name="noidung"
               th:field="*{noidung}">
        <p class="error-messager" th:if="${#fields.hasErrors('noidung')}" th:errors="*{noidung}"></p>
    </div>
    <label>Loại câu hỏi</label>
    <select class="form-control" name="loaiCauHoi" th:field="*{loaiCauHoi}">
        <option th:each="LoaiCauHoi:${loaiCauHoiList}" th:value="${LoaiCauHoi.loaiCode}" th:text="${LoaiCauHoi.typeQA}"></option>
    </select>

    <div class="form-control border-0">
        <button class="btn btn-outline-success" type="reset">Reset form</button>
        <button class="btn btn-outline-success" type="submit">Submit</button>
    </div>
</form>
</body>
</html>