.form-check-input {
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.form-check-input:checked {
    animation: checkbox-checked-animation 0.5s ease-in-out forwards;
}
.form-check-input:not(:checked) {
    animation: checkbox-unchecked-animation 0.5s ease-in-out forwards;
}

@keyframes checkbox-checked-animation {
    0% {
        background-color: #ffffff;
        border-color: #36B9CC;
    }
    100% {
        background-color: #36B9CC;
        border-color: #5BBABE;
    }
}
@keyframes checkbox-unchecked-animation {
    0% {
        background-color: #36B9CC;
        border-color: #5BBABE;
    }
    100% {

        background-color: #ffffff;
        border-color: #36B9CC;
    }
}

