.form-focus {
    transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.form-focus:focus {
    animation: form-focus-animation 0.5s ease-in-out forwards;
}

@keyframes form-focus-animation {
    0% {
        border-color: #36B9CC;
        box-shadow: 0 0 5px rgba(54, 185, 204, 0.5);
    }
    100% {
        border-color: #5BBABE;
        box-shadow: 0 0 10px rgba(91, 186, 190, 0.75);
    }
}
/* Define the placeholder disappearance on focus */
.form-focus::placeholder {
    transition: opacity 0.5s ease-in-out;
}

.form-focus:focus::placeholder {
    opacity: 0;
}