<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
</head>
<nav class="nav">
    <a class="nav-link active" aria-current="page" href="/list">Danh sách giao dịch</a>
    <a class="nav-link" href="/create">Tạo mới giao dịch</a>
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
</nav>
<body>
<div class="container">
    <form class="form-control " action="/delete" method="post" th:object="${giaodich}">
        <input name="transCodeDelete" th:field="*{transCode}" hidden>
        <div class="form-control">
            <label>Mã giao dịch: </label>
            <label style="color: #0dcaf0" th:text="*{transCode}"></label>
        </div>
        <div class="form-control">
            <label>Loại bất động sản: </label>
            <label style="color: #0dcaf0"  th:text="*{typeDichVu.serviceName}"></label>
        </div>
        <div class="form-control">
            <label>Ngày Giao dịch: </label>
            <label style="color: #0dcaf0"  th:text="*{transDate}"></label>
        </div>
        <div class="form-control">
            <label>Đơn giá (VND): </label>
            <label style="color: #0dcaf0"  th:text="*{transPrice}"></label>
        </div>
        <div class="form-control">
            <label>Diện tích(m2): </label>
            <label style="color: #0dcaf0"  th:text="*{transArea}"></label>
        </div>
        <div class="form-control">
            <label>Tên khách hàng: </label>
            <label style="color: #0dcaf0"  th:text="*{khachHang.cusName}"></label>
        </div>
        <div class="form-control">
            <label>Số điện thoại: </label>
            <label style="color: #0dcaf0"  th:text="*{khachHang.cusPhone}"></label>
        </div>
        <div class="form-control">
            <label>Email: </label>
            <label style="color: #0dcaf0"  th:text="*{khachHang.cusMail}"></label>
        </div>
        <br>
        <button  class="btn btn-danger" type="button" th:data-name="${giaodich.khachHang.cusName}"
                th:data-code="${giaodich.transCode}"
                th:onclick="changeInfo(this.getAttribute('data-name'), this.getAttribute('data-code'))"
                data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete
        </button>
        <button  class="btn btn-danger" type="button" th:attr="onclick=|changeInfo('${giaodich.khachHang.cusName}','${giaodich.transCode}')|"
                 data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete 2
        </button>
        <a class="btn btn-primary" th:href="@{/list}">Quay lại</a>
    </form>
</div>
<div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/delete" method="post">
                <input id="transCodeDelete" name="transCodeDelete" type="hidden">
                <div class="modal-header">
                    <h5 class="modal-title">Xóa giao dịch?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn xóa giao dịch của khách hàng có tên là <span id="cusName"></span> và code là <span
                            id="transCodeView"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:inline="javascript">
    function changeInfo(name, code) {
        document.getElementById("cusName").innerText = name;
        document.getElementById("transCodeView").innerText = code;
        document.getElementById("transCodeDelete").value = code;
        console.log(name, code)
    }
</script>
</html>